*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

h1{
    font-size: 3rem;
    text-align: center;
    margin: 2rem;
}

#list-container{
    width: 600px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

ul{
    list-style-type: none;
    border: 0.5px solid black;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
}

li{
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
}

li .task{
    display: flex;
    align-items: center;
}

.done i{
    border: 1px solid black;
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
}

.fa-check{
    color: green;
}

button{
    padding: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

#list button{
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    color: red;
}

.new-task{
    display: flex;
    align-items: center;
}

.new-task input{
    padding: 0.5rem;
}